<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/default.jpg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}" />

    <script type="module" src="{{ url_for('static', filename='js/firebase.js') }}"></script>

    <title>RealMUD: The Living Text Adventure</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/admin/data/clean">Admin: Clean up firestore</a></li>
            </ul>
        </nav>
    </header>
    <main>

        {% include 'login.html' %}

        <div id="unity-container"  style="display:none;">
            <canvas id="unity-canvas"></canvas>
        </div>
        
        {% include 'io.html' %}
    </main>

</body>

</html>