<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/book_icon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}" />

    <script type="module" src="{{ url_for('static', filename='js/firebase.js') }}"></script>

    <title>The Book</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/admin/data/clean">Admin: Clean up firestore</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% include 'login.html' %}
        {% include 'io.html' %}
        {% include 'modals.html' %}
    </main>

</body>

</html>