<div id="content">
    <img id="scene-image" src="{{ url_for('static', filename='images/welcome_book.png') }}" alt="Scene" />
    <div id="scene-text">Who dares reading The Book?</div>
</div>

<div id="input-container" style="display:none;">
    <form id="user-input-form">
        <input type="text" id="user-input" placeholder="Enter your command...">
        <button id="submit-input" type="submit">Submit</button>
    </form>
</div>
<script type="module" src="{{ url_for('static', filename='js/io.js') }}"></script>