<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghostless Shell: {% block title %}Home{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- TODO Add metatags -->


    <!-- Logic -->
    <script></script>
    <script type="module" src="{{ url_for('static', filename='js/common/firebase.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/common/login.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/common/main_frame.js') }}"></script>

    <!-- Styling -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/book_icon.png', _external=True) }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main_frame.css') }}">

    <!-- Templates -->
    {% block headers %} {% endblock %}
</head>

<body>
    <div id="body-overlay">
    </div>        
    <div id="body-content" class="custom-scrollbar">
        <header>
            <nav class="nav-drawer">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/the_book">The Book</a></li>
                    <button id="main-frame-btn-speak">Speak</button>

                    <li class="admin-only hidden"><a href="/persona/cassandra/">Persona (Cassandra)</a></li>
                    <li class="admin-only hidden"><a href="/chat_gpteam">ChatGPTeam</a></li>
                    <ul>
                        <li>
                            <form id="logout-form" style="display:none;">
                                <label id="logout-form-user-email"></label>
                                <button type="submit">Log out</button>
                            </form>
                        </li>
                    </ul>
                </ul>
            </nav>
            <button class="toggle-button"><i class="fas fa-chevron-up"></i></button>
        </header>
        <main class="custom-scrollbar">
            {% block content %}

            {% endblock %}
        </main>
        <footer>
            <button class="toggle-button"><i class="fas fa-chevron-down"></i></button>
            <div class="footer-drawer">
                <ul>
                    <li><a href="/resume">Myself</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="https://www.buymeacoffee.com/myl1ne">Buy me a coffee</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script>
    </script>
</body>
</html>