<!-- Icons -->
<div id="icon-container" style="display: none;">
    <i class="fas fa-compass" id="teleport-icon"></i>
    <i class="fas fa-user" id="character-sheet-icon"></i>
    <i class="fas fa-suitcase" id="inventory-icon"></i>
    <i class="fas fa-scroll" id="quests-icon"></i>
</div>

<!-- Modals -->
<div id="teleport-modal" class="modal">
    {% include 'modals/teleport_modal.html' %}
</div>

<div id="character-sheet-modal" class="modal">
    {% include 'modals/character_sheet_modal.html' %}
</div>

<div id="inventory-modal" class="modal">
    {% include 'modals/inventory_modal.html' %}
</div>

<div id="quests-modal" class="modal">
    {% include 'modals/quests_modal.html' %}
</div>

<script type="module" src="{{ url_for('static', filename='js/modals.js') }}"></script>