.content-main {
    width: 100%;
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: #000000;
    color: rgb(0, 255, 60);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this line */
}
.chat-window {
    overflow: auto;
    width: 80%;
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.message {
    margin-bottom: 10px;
    font-size: 14px;
}
.message.user {
    color: aqua;
    text-align: right;
}
.message.assistant {
    color: rgb(0, 255, 60);
    text-align: left;
}
.message.system {
    text-align: center;
    font-style: italic;
    color: #777;
}
.episodes-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.episode-title {
    cursor: pointer;
    margin-bottom: 5px;
}