{% extends "main_frame.html" %}

{% block title %}Home{% endblock %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home/home.css') }}" />
{% endblock %}

{% block content %}
<main class="content-main">
    <h1>Welcome, Ghostless Shell</h1>
    <p>This place holds the results of my digital explorations.</p>
    <p>Please, explore to your soul content. You may want to get lost in The Book, or talk to the creatures who dwelve here.</p>
    <p>I use this website as a personal laboratory to host my tools and experiments, things may be broken or be work in progress.</p>
    <br>
    <p>The main public section is "The Book", which is an attempt at using large language models for MUD style game. Feel free to create an account and try.</p>
</main>

<script type="module">
    import { UnityCanvas } from "{{ url_for('static', filename='js/common/unity_canvas.js') }}";
    
    const isDevelopment = false;
    console.log("Loading Spoon Canvas");
    var unityCanvas = new UnityCanvas(document.getElementById("body-overlay"), "Overlaid3DContent", isDevelopment);

    window.addEventListener("WorldEventOnCreated", (e) => {
        console.log("World is loaded and ready to be used");
            console.log("Spawning a cursor");
            unityCanvas.forwardCursorToUnity();
    });
</script>
{% endblock %}