@import url('scrollbars.css');
@import url('main-header.css');
@import url('main-content.css');
@import url('main-login.css');
@import url('modals.css');
@import url('effects.css');

/*my_app contains 3 sections: main-header main-content main-footer (and modals)*/
my_app {
    font-family: 'IM Fell English', serif;
    background-color: #222;
    color: #ddd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 50px 1fr 50px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}
