{% extends "main_frame.html" %}

{% block headers %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/persona/persona.css') }}" />
{% endblock %}

{% block title %}Persona{% endblock %}

{% block content %}
<main id="content-main">
    <div id = "interaction-container">
        <h1>{{ persona_id }}</h1>
        <div id = "persona-container">
            <div class="chat-window custom-scrollbar" id="chat-window">
                <!-- Messages will be added dynamically 
                <div class = "message user">The user said foo</div>>
                <div class = "message persona">The persona said bar</div>>
                <div class = "message system">The system said said beep</div>>
                -->
            </div>
            <div id = "persona-canvas">
            </div>
        </div>
        <form id="message-form">
            <input type="text" id="message" name="message">
            <div id="controller-buttons">
                <button type="button" class="toggle-media-button" id="camera-toggle">
                    <i class="fas fa-video"></i>
                </button>
                <button type="button" class="toggle-media-button" id="microphone-toggle">
                    <i class="fas fa-microphone"></i>
                </button>
            </div>
        </form>
    </div>
    
    <div id="relevant-memories-panel" class="custom-scrollbar">
        <!-- Relevant memories will be added dynamically -->
    </div>
</main>

<script type="module">
    import { registerListeners } from "{{ url_for('static', filename='js/persona/persona.js') }}";
    document.addEventListener('DOMContentLoaded', function() {
        registerListeners("{{ persona_id }}");
    });
</script>
{% endblock %}

